<!DOCTYPE html>
<html>
  <head>
    <title>Do not use this service!</title>
  </head>
  <body>
    <pre>
      Do not use this service, it is insecure.
      It is deprecated now, and will be defunct soon.
    </pre>
  </body>
</html>
