<!DOCTYPE html>
<html>
  <head>
    <title>Coming soon</title>
    <style>
      html { 
      width:100%; 
      height:100%; 
      background:url(/images/coming-soon.png) center center no-repeat;
      }
    </style>
  </head>
</html>
