<!DOCTYPE html>
<html>
  <head>
    <title>Do not use this service!</title>
  </head>
  <body>
    <pre>
      Do not use this service, it is insecure.
      It is a hacky domain thing that is opaque and dangerous.
      "source()" is not something to be encouraged, either.
      Nothing on the main page who says who owns/runs the "service".
      No explanation on the main page of what's going on underneath the covers.
      https://twitter.com/hrbrmstr/status/1236259919617277953
    </pre>
  </body>
</html>
